.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
  .main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: fit-content;
      height: 100%;
    }
  }
 
  }
  
  
  input {
    width: auto;
  }
  button {
    width: inherit;
  }
  .navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .links a{
      margin: 15px;
      color: white;
      text-decoration: none;
    }
  }